// app global css in SCSS form
.layout-flow {
    padding: 96px;
}
.navPad {
    padding:0.5rem 96px;
}

.border {
   border: 1px solid black
}
.logo {
    height: 24px;
}
.rouded-8 {
    border-radius: 8px !important;
}
.gray-background {
    background-color: #0000000A;
}
.dashboard-drawer .q-field__control {
    border-radius: 8px !important;
  }