.border {
  border: 1px solid #d5d7da;
}

.rounded-8 {
  border-radius: 8px !important;
}
.rounded-12 {
  border-radius: 12px !important;
}
.rounded-16 {
  border-radius: 16px !important;
}
.rounded-6 {
  border-radius: 6px !important;
}

.text-weight-600 {
  font-weight: 600;
}

svg {
  color: #3c3d3f;
  cursor: pointer;
}

.font-10px {
  font-size: 10px;
}
.font-12px {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16px {
  font-size: 16px;
}

.q-table tbody td {
  color: grey;
}

.stripe-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.q-field__control {
  border-radius: 8px !important;
}

.q-field--outlined .q-field__control:before {
  border: 1px solid #d5d7da;
}

.q-dialog__backdrop {
  background: #a2a1a833;
  backdrop-filter: blur(10px);
}

.layout-flow {
  padding: 96px;
}
.navPad {
  padding: 0.5rem 96px;
}
@media (max-width: 1024px) {
  .navPad {
    padding: 20px;
  }
  .layout-flow {
    padding: 20px;
  }
}

.logo {
  height: 24px;
}
.rounded-8 {
  border-radius: 8px !important;
}
.rounded-20 {
  border-radius: 20px;
}
.gray-background {
  background-color: #0000000a;
}
.dashboard-drawer .q-field__control {
  border-radius: 8px !important;
}
.all-paragraphs {
  font-size: 20px;
  color: #a4a1a1;
}
.headings {
  font-size: 60px;
}
.gap-12 {
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .all-paragraphs {
    font-size: 12px;
    // text-align: start;
  }
  .headings {
    font-size: 22px;
    // text-align: start;
  }
  .gap-12 {
    gap: 12px;
  }
}
// ** landing page
.hero-section {
  background-image: url('src/assets/landing-page/Artboard.png');
  background-position: center;
  background-size: cover;
}
.blur-blue {
  background-color: #2f5cef0d;
}
.low-opacity-blue {
  background-color: #2f5cefc8;
}
.font-36 {
  font-size: 36px;
}
.font-30 {
  font-size: 30px;
}
.features-img {
  height: 100%;
  width: 100%;
}
.img-cards {
  object-fit: cover !important;
  height: 11rem;
  width: 11rem;
}
.testimonials {
  max-width: 500px;
  background-color: #fafafa;
}
.pricing-plans {
  min-height: 650px;
}
.paralex {
  height: calc(700vh + 20vh) !important;
}
@media (max-width: 768px) {
  .hero-img {
    height: 200px;
  }
  .header-hero-img {
    height: 150px;
  }
  .font-36 {
    font-size: 26px;
  }
  .font-30 {
    font-size: 20px;
  }
  .w-full {
    width: 100%;
  }
  .pricing-plans {
    min-height: max-content;
  }
  .btn-get-started {
    position: unset;
  }
  .extra-mb {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1440px) {
  .paralex {
    height: 520vh !important;
  }
}
@media (max-width: 1024px) {
  .paralex {
    height: 420vh !important;
  }
}
@media (max-width: 500px) {
  .paralex {
    height: 450vh !important;
  }
}
@media (max-width: 425px) {
  .paralex {
    height: 530vh !important;
  }
}

// admin dashboard
.my-menu-link {
  background-color: #2f5cef0d;
  color: $primary;
  position: relative;
}
.my-menu-link .icon {
  color: $primary;
  margin-left: 1rem;
}
.my-menu-link::after {
  content: '';
  position: absolute;
  height: 60%;
  border: 4px solid blue;
  border-radius: 10px;
  left: 10px;
  top: 20%;
  animation: animafter 0.5s ease-in-out;
}
@keyframes animafter {
  from {
    height: 0;
    top: 100%;
  }
  to {
    height: 60%;
  top: 20%;

  }
}


// Login Page styling **************************************************
 
#login.main-wrapper,
#signup.main-wrapper {
  height: 100vh;
  overflow: hidden;
}

#login .login-container,
#signup .signup-container {
  margin: 50px  auto;
  max-width: 400px;
}

#login .image-side,
#signup .image-side {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  height: 100vh;
}

#login .image-side img,
#signup .image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 1023px) {
  #login .image-side img,
  #signup .image-side img {
    display: none;
  }
}
@media(max-width: 440px) {
  #login .login-container,
  #signup .signup-container {
    // width: 300px !important;
    margin: 50px 20px;
  }
}